<script src="/js/clientJS/teamCalendar.js"></script>

<div class="bg-grey-level1 max-w-[1330px] xl:pr-4 lg:pr-0 pr-4 px-8 py-6">
    <h3 class="md:text-2xl mb-5 md:block hidden text-xl font-bold font-orbitron text-white"><%= user.team.displayname%> Team Calendar
    </h3>
    <div class="md:flex block md:mt-8 justify-between">
        <h4 class="text-2xl md:block hidden mb-5 font-bold font-montserrat text-white pt-5" id="currentWeekText"></h4>
        <div class="text-right flex items-center flex-1 md:justify-end justify-between w-full gap-4">
            <%- include('../components/buttondefault', {type: 'button', id: 'lastWeekBtn', text: 'Last Week', icon: 'ri-arrow-left-s-line', iconPos: 'left'}) %>
            <%- include('../components/buttondefault', {type: 'button', id: 'todayBtn', text: 'Toady'}) %>
            <%- include('../components/buttondefault', {type: 'button', id: 'nextWeekBtn', text: 'Next Week', icon: 'ri-arrow-right-s-line'}) %>
        </div>
        <div class="md:hidden block">

            <div class="relative mt-5">
                <table class="w-full ">
                    <thead class="text-white font-montserrat text-xl font-normal bg-grey-level3">
                    <tr>
                        <th scope="col" class="text-center py-2 xs:px-4 px-2">
                            M
                        </th>
                        <th scope="col" class="text-center py-2 xs:px-4 px-2">
                            T
                        </th>
                        <th scope="col" class="text-center py-2 xs:px-4 px-2">
                            W
                        </th>
                        <th scope="col" class="text-center py-2 xs:px-4 px-2">
                            T
                        </th>
                        <th scope="col" class="text-center py-2 xs:px-4 px-2">
                            F
                        </th>
                        <th scope="col" class="text-center py-2 xs:px-4 px-2">
                            S
                        </th>
                        <th scope="col" class="text-center py-2 xs:px-4 px-2">
                            S
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="bg-grey-level2 text-white font-montserrat text-xl ">
                        <td class="text-center py-2 xs:px-4 px-2">
                            16
                        </td>
                        <td class="text-center py-2 xs:px-4 px-2">
                            17
                        </td>
                        <td class="text-center py-2 xs:px-4 px-2">
                            18
                        </td>
                        <td class="text-center py-2 xs:px-4 px-2">
                            19
                        </td>
                        <td class="text-center py-2 xs:px-4 px-2">
                            20
                        </td>
                        <td class="text-center py-2 xs:px-4 px-2">
                            21
                        </td>
                        <td class="text-center py-2 xs:px-4 px-2">
                            22
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex items-center justify-between px-[13px] py-2 border-t border-red-text bg-turquoise/40">
                <div>
                    <h5 class="text-white font-montserrat text-base font-semibold">Monday, 16. Oktober 2023
                    </h5>
                </div>
                <ul class="flex">
                    <li><a href="#"> <i class="ri-edit-line font-normal text-sm text-white"></i></a>
                    </li>
                    <li class="mx-[14px]"><a href="#" class="my-2.5">
                            <i class="ri-clipboard-line font-normal text-sm text-white">
                            </i>
                        </a></li>
                    <li><a href="#">
                            <i class="ri-file-copy-2-line font-normal text-sm text-white">
                            </i>
                        </a></li>
                </ul>
            </div>
            <div class="bg-grey-level2 pt-2">
                <div class="flex items-center py-2  mx-4 border-b border-btn-grey">
                    <div>
                        <img src="images/avatar.svg" alt="">
                    </div>
                    <div class="">
                        <img src="images/ok.png" class="w-7 mx-4" alt="">
                    </div>
                    <div>
                        <h6 class="text-white font-montserrat font-normal text-base">19.00 - 23.00</h6>
                    </div>
                </div>
                <div class="flex items-center py-2  mx-4 border-b border-btn-grey">
                    <div>
                        <img src="images/avatar.svg" alt="">
                    </div>
                    <div class="">
                        <img src="images/nok.png" class="w-7 mx-4" alt="">
                    </div>
                    <div>
                        <h6 class="text-white font-montserrat font-normal text-base">Ferien</h6>
                    </div>
                </div>
                <div class="flex items-center py-2  mx-4 border-b border-btn-grey">
                    <div>
                        <img src="images/avatar.svg" alt="">
                    </div>
                    <div class="">
                        <img src="images/unsure.png" class="w-7 mx-4" alt="">
                    </div>
                    <div>
                        <h6 class="text-white font-montserrat font-normal text-base">19.00 - 23.00</h6>
                    </div>
                </div>
                <div class="flex items-center py-2  mx-4 mb-3 ">
                    <div>
                        <img src="images/avatar.svg" alt="">
                    </div>
                    <div class="">
                        <img src="images/unsure.png" class="w-7 mx-4" alt="">
                    </div>
                    <div>
                        <h6 class="text-white font-montserrat font-normal text-base">Usgang Mabye</h6>
                    </div>
                </div>
                <div
                        class="flex items-center justify-between px-[13px] py-2 border-t border-red-text bg-turquoise/40">
                    <div>
                        <h5 class="text-white font-montserrat text-base font-semibold">Tuesday, 16. Oktober
                            2023
                        </h5>
                    </div>
                    <ul class="flex">
                        <li><a href="#"> <i class="ri-edit-line font-normal text-sm text-white"></i></a>
                        </li>
                        <li class="mx-[14px]"><a href="#" class="my-2.5">
                                <i class="ri-clipboard-line font-normal text-sm text-white">
                                </i>
                            </a></li>
                        <li><a href="#">
                                <i class="ri-file-copy-2-line font-normal text-sm text-white">
                                </i>
                            </a></li>
                    </ul>
                </div>
                <h6 class="text-white font-montserrat font-normal text-base py-4 px-3">No Data</h6>
                <div
                        class="flex items-center justify-between px-[13px] py-2 border-t border-red-text bg-turquoise/40">
                    <div>
                        <h5 class="text-white font-montserrat text-base font-semibold">Tuesday, 16. Oktober
                            2023
                        </h5>
                    </div>
                    <ul class="flex">
                        <li><a href="#"> <i class="ri-edit-line font-normal text-sm text-white"></i></a>
                        </li>
                        <li class="mx-[14px]"><a href="#" class="my-2.5">
                                <i class="ri-clipboard-line font-normal text-sm text-white">
                                </i>
                            </a></li>
                        <li><a href="#">
                                <i class="ri-file-copy-2-line font-normal text-sm text-white">
                                </i>
                            </a></li>
                    </ul>
                </div>
            </div>

        </div> <!-- MOBILE -->
    </div>
    <div class="md:block hidden">
        <div class="relative overflow-x-auto">
            <table class="w-full">
                <thead class="font-montserrat text-lg font-bold text-white">
                <tr id="calHeader">
                    <!-- Calendar Header gets inserted here -->
                </tr>
                </thead>
                <tbody id="calBody">
                <tr class="border-b-8 border-grey-level1">
                    <td scope="row" class="px-6 py-4 bg-grey-level2">
                        <div class="flex items-center">
                            <div>
                                <img src="images/yuma-img.svg" alt="">
                            </div>
                            <h6 class="text-lg ml-5 font-montserrat text-white font-bold">YumaTB
                            </h6>
                        </div>
                    </td>
                    <td class="px-3 py-4 bg-grey-level2">
                        <div class="relative">
                            <ul class="text-end">
                                <li><a href="#"> <i
                                                class="ri-edit-line font-normal text-sm text-white"></i></a>
                                </li>
                                <li><a href="#" class="my-2.5">
                                        <i class="ri-clipboard-line font-normal text-sm text-white">
                                        </i>
                                    </a></li>
                                <li><a href="#">
                                        <i
                                                class="ri-file-copy-2-line font-normal text-sm text-white">
                                        </i>
                                    </a></li>
                            </ul>
                            <div
                                    class="absolute w-[104px] h-[107px] top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2">
                                <img src="images/ok.png" class="opacity-40 " alt="">
                            </div>
                        </div>
                    </td>
                    <td class="px-3 py-4 bg-btn-grey/40">
                        <div class="relative">
                            <div class="">
                                <h6
                                        class="text-base absolute top-1/2 left-1/2 -translate-x-1/2 z-10 -translate-y-1/2 text-white font-montserrat font-semibold">
                                    Training
                                </h6>
                                <ul class="text-end">
                                    <li><a href="#"> <i
                                                    class="ri-edit-line font-normal text-sm text-white"></i></a>
                                    </li>
                                    <li><a href="#" class="my-2.5">
                                            <i
                                                    class="ri-clipboard-line font-normal text-sm text-white">
                                            </i>
                                        </a></li>
                                    <li><a href="#">
                                            <i
                                                    class="ri-file-copy-2-line font-normal text-sm text-white">
                                            </i>
                                        </a></li>
                                </ul>
                            </div>

                            <div
                                    class="absolute top-1/2 w-[104px] h-[107px] -translate-y-1/2 left-1/2 -translate-x-1/2">
                                <img src="images/nok.png" class="opacity-40 " alt="">
                            </div>
                        </div>
                    </td>
                    <td class="px-3 py-4 bg-grey-level2">
                        <div class="relative">
                            <div class="text-center">
                                <h6
                                        class="text-base text-center absolute top-1/2 left-1/2 -translate-x-1/2 z-10 -translate-y-1/2 text-white font-montserrat font-semibold">
                                    Maybe<br>Usgang
                                </h6>
                                <ul class="text-end">
                                    <li><a href="#"> <i
                                                    class="ri-edit-line font-normal text-sm text-white"></i></a>
                                    </li>
                                    <li><a href="#" class="my-2.5">
                                            <i
                                                    class="ri-clipboard-line font-normal text-sm text-white">
                                            </i>
                                        </a></li>
                                    <li><a href="#">
                                            <i
                                                    class="ri-file-copy-2-line font-normal text-sm text-white">
                                            </i>
                                        </a></li>
                                </ul>
                            </div>

                            <div
                                    class="absolute top-1/2 w-[104px] h-[107px] -translate-y-1/2 left-1/2 -translate-x-1/2">
                                <img src="images/unsure.png" class="opacity-40 " alt="">
                            </div>
                        </div>
                    </td>
                    <td class="px-3 py-4 bg-grey-level2">
                        <div class="relative">
                            <div class="text-center">
                                <h6
                                        class="text-base leading-6 text-center absolute top-1/2 left-1/2 -translate-x-1/2 z-10 -translate-y-1/2 text-white font-montserrat font-semibold">
                                    19:00
                                    <br>-<br>22:30
                                </h6>
                                <ul class="text-end">
                                    <li><a href="#"> <i
                                                    class="ri-edit-line font-normal text-sm text-white"></i></a>
                                    </li>
                                    <li><a href="#" class="my-2.5">
                                            <i
                                                    class="ri-clipboard-line font-normal text-sm text-white">
                                            </i>
                                        </a></li>
                                    <li><a href="#">
                                            <i
                                                    class="ri-file-copy-2-line font-normal text-sm text-white">
                                            </i>
                                        </a></li>
                                </ul>
                            </div>

                            <div
                                    class="absolute top-1/2 w-[104px] h-[107px] -translate-y-1/2 left-1/2 -translate-x-1/2">
                                <img src="images/ok.png" class="opacity-40 " alt="">
                            </div>
                        </div>
                    </td>
                    <td class="px-3 py-4 bg-grey-level2">
                        <div class="relative">
                            <ul class="text-end">
                                <li><a href="#"> <i
                                                class="ri-edit-line font-normal text-sm text-white"></i></a>
                                </li>
                                <li><a href="#" class="my-2.5">
                                        <i class="ri-clipboard-line font-normal text-sm text-white">
                                        </i>
                                    </a></li>
                                <li><a href="#">
                                        <i
                                                class="ri-file-copy-2-line font-normal text-sm text-white">
                                        </i>
                                    </a></li>
                            </ul>
                            <div
                                    class="absolute w-[104px] h-[107px] top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2">
                                <img src="images/ok.png" class="opacity-40 " alt="">
                            </div>
                        </div>
                    </td>
                    <td class="px-3 py-4 bg-grey-level2">
                        <div class="relative">
                            <div class="">
                                <ul class="text-end">
                                    <li><a href="#"> <i
                                                    class="ri-edit-line font-normal text-sm text-white"></i></a>
                                    </li>
                                    <li><a href="#" class="my-2.5">
                                            <i
                                                    class="ri-clipboard-line font-normal text-sm text-white">
                                            </i>
                                        </a></li>
                                    <li><a href="#">
                                            <i
                                                    class="ri-file-copy-2-line font-normal text-sm text-white">
                                            </i>
                                        </a></li>
                                </ul>
                            </div>

                            <div
                                    class="absolute top-1/2 w-[104px] h-[107px] -translate-y-1/2 left-1/2 -translate-x-1/2">
                                <img src="images/nok.png" class="opacity-40 " alt="">
                            </div>
                        </div>
                    </td>
                    <td class="px-3 py-4 bg-grey-level2">
                        <div class="relative">
                            <div class="">
                                <h6
                                        class="text-base text-center text-white font-montserrat font-semibold">
                                    No Data
                                </h6>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3 class="md:text-2xl mt-8 md:mb-0 mb-5 text-xl font-bold font-orbitron text-white">Upcoming
            Trainings
        </h3>
        <button
                class="text-base hover:bg-grey-level2 hover:border-red-text font-semibold font-montserrat text-white bg-action-grey px-2 py-2 border-b-4 shadow-dashboard border-b-btn-grey max-w-[208px] w-full flex items-center mt-7 justify-center rounded-t-lg">
            Manage Trainings
            <span class="">
                         <i class="ri-file-download-line text-white text-xl ml-2 font-normal"></i>
                    </span>
        </button>

        <div class="relative mt-9 bg-grey-level2 p-7 pt-6 max-w-[557px] overflow-x-auto">
            <table class="w-full bg-grey-level2">
                <thead class="text-white text-start font-montserrat font-bold text-lg">
                <tr>
                    <th scope="col" class="text-start pb-3 px-3 ">
                        Date
                    </th>
                    <th scope="col" class="text-start pb-3 px-3 ">
                        Start Time
                    </th>
                    <th scope="col" class="text-start pb-3 px-3 ">
                        End Time
                    </th>
                    <th scope="col" class="text-start pb-3 px-3 ">
                        Duration
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-grey-level3 border-b-[18px] border-grey-level2">
                    <th scope="row" class="text-white py-4 px-3 font-montserrat font-normal text-base">
                        21.10.2023
                    </th>
                    <td class="text-white font-montserrat py-4 px-3 font-normal text-base">
                        19:00
                    </td>
                    <td class="text-white font-montserrat py-4 px-3 font-normal text-base">
                        21:00
                    </td>
                    <td class="text-white font-montserrat py-4 px-3 font-normal text-base">
                        3:00 h
                    </td>
                </tr>
                <tr class="bg-grey-level3 border-b-[18px] border-grey-level2">
                    <th scope="row" class="text-white py-4 px-3 font-montserrat font-normal text-base">
                        21.10.2023
                    </th>
                    <td class="text-white font-montserrat py-4 px-3 font-normal text-base">
                        19:00
                    </td>
                    <td class="text-white font-montserrat py-4 px-3 font-normal text-base">
                        21:00
                    </td>
                    <td class="text-white font-montserrat py-4 px-3 font-normal text-base">
                        3:00 h
                    </td>
                </tr>
                <tr class="bg-grey-level3">
                    <th scope="row" class="text-white py-4 px-3 font-montserrat font-normal text-base">
                        21.10.2023
                    </th>
                    <td class="text-white font-montserrat py-4 px-3 font-normal text-base">
                        19:00
                    </td>
                    <td class="text-white font-montserrat py-4 px-3 font-normal text-base">
                        21:00
                    </td>
                    <td class="text-white font-montserrat py-4 px-3 font-normal text-base">
                        3:00 h
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="popup-container" id="popup-container-edit"></div>
<div class="popup-container" id="popup-containerDefTrainingTime"></div>
<div id="loading-message-container"><div id="loading-message"></div></div>

<script>
    $(document).ready(function () {
        let currentDate = new Date();
        buildCalendar(currentDate);
    });

    /**
     * Builds the calendar
     * @param currentDate For which week the calendar should be built
     * @returns {Promise<void>}
     */
    async function buildCalendar(currentDate) {
        const userData = {
            username: '<%= user.username %>',
            teamId: '<%= user.team.id %>',
            isAdmin: '<%= user.usermanagement && user.usermanagement.canEditOthers %>'
        };

        const users = await getUsers(userData.teamId);

        const sessionUser = userData.username

        await $.ajax({
            url: "/team/getTeamManager",
            data: {teamId: userData.teamId},
            type: "GET",
            dataType: "json",
            success: function (data) {
                if(data.redirect){
                    window.location.href = data.redirect;
                }
                const teammanagerId = data[0].account_fk;
                generateCalendar(users, currentDate, sessionUser, userData.teamId, teammanagerId, userData.isAdmin);
            },
            error: function (data) {
                if (data.responseJSON && data.responseJSON.redirect) {
                    window.location.href = data.responseJSON.redirect;
                }
                console.log(data.responseText);
            }
        });
    }
</script>