<script src="/js/clientJS/changelog.js"></script>

<div class="mt-8 ml-8 mr-8 mb-8">
    <p class="font-orbitron text-almost-white text-2xl font-semibold">Changelog</p>

    <div class="bg-grey-level2 mt-4 p-4">
        <div class="flex flex-row justify-between">
            <%- include('../components/buttondefault', {type: 'button', id: 'prevDay', text: 'Previous Day', icon: 'ri-arrow-left-s-line', width: 'w-[170px]', iconPos: 'left'}) %>
            <p class="font-semibold font-montserrat text-[22px] pl-4 pr-4" id="currentDate">???</p>
            <%- include('../components/buttondefault', {type: 'button', id: 'nextDay', text: 'Next Day', icon: 'ri-arrow-right-s-line', width: 'w-[170px]'}) %>
        </div>

        <div class="mt-6 mb-6 space-x-4 flex flex-row items-center">
            <label for="level" class="text-base font-montserrat font-semibold">Filter by:</label>
            <%- include('../components/dropdown', {id: 'levelFilter', options: [{value: -1, text: "All levels"},
            {value: 0, text: "INFO"}, {value: 1, text: "WARN"}, {value: 2, text: "ERROR"}], width: 'w-48'}) %>
            <%- include('../components/dropdown', {id: 'userFilter', options: [{value: -2, text: "All users"}], width: 'w-48'}) %>
        </div>

        <%- include('../components/table', {id: 'logTable', bodyId: 'logTableData', headers: [{text: 'Time'}, {text: 'Message'}, {text: 'User'}, {text: 'Level'}]}) %>
    </div>
</div>

<script>
    $(document).ready(function () {
        buildUserFilter();
        buildLogTable();

        $('#nextDay').click(function () {
            nextDay();
        });

        $('#prevDay').click(function () {
            previousDay();
        });

        $('#levelFilter, #userFilter').change(function () {
            buildLogTable();
        });
    });
</script>