<script src="/js/clientJS/imgUploadToDB.js"></script>
<script src="/js/clientJS/settings.js"></script>

<div class="text">Settings</div>
<div class="content">
    <div class="shadow-box player-shadow-box">
        <% if (user.thumbnail) { %>
            <img class="player-img" src="<%= user.thumbnail %>" alt="profile picture" id="profilePicture"/>
        <% } else { %>
            <img class="player-img" src="/res/others/blank_profile_picture.png" alt="blank profile picture" id="profilePicture"/>
        <% } %>

        <p class="player-name" id="usernameBig"> <%= user.username %></p>
        <p class="team-name"> <%= user.team.displayname %></p>
        <div class="button-container">
            <button class="default red player-btn" id="deleteUser">Delete User</button>
            <button class="default player-btn" id="upload">Upload
                <i class="ri-upload-2-fill upload-icon"></i>
                <input type="file" id="fileInput" accept="image/png, image/jpeg" class="file-input">
            </button>
        </div>
    </div>
    <div class="vert-shadow-box-container">
        <div class="shadow-box personal-shadow-box">
            <form id="formPersInfo" class="form">
                <p class="purple-title">Personal Information</p>
                <div class="form-row">
                    <div class="form-group">
                        <label for="fullName">Full Name*</label>
                        <input type="text" id="fullName" name="fullName" class="input-left"
                               value="<%= user.fullname %>">
                    </div>
                    <div class="form-group">
                        <label for="email">E-Mail*</label>
                        <input type="email" id="email" name="email" value="<%= user.email %>">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" id="phone" name="phone" class="input-left" value="<%= user.phone %>">
                    </div>
                    <div class="form-group">
                        <label for="username">Username*</label>
                        <input type="text" id="username" name="username" value="<%= user.username %>">
                    </div>
                </div>
            </form>
        </div>

        <div class="shadow-box personal-shadow-box">
            <form id="formAdress" class="form">
                <p class="purple-title">Address</p>
                <div class="form-row">
                    <div class="form-group">
                        <label for="street">Street</label>
                        <input type="text" id="street" name="street" class="input-left"
                               value="<%= user.street %>">
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" id="city" name="city" value="<%= user.city %>">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="zipcode">Zip Code</label>
                        <input type="text" id="zipcode" name="zipcode" class="input-left" value="<%= user.zip %>">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="default submit">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="content">
    <div class="shadow-box password-shadow-box">
        <form id="linkedAccountsForm" class="form">
            <p class="purple-title">Linked Accounts</p>
            <div class="form-row">
                <div class="form-group">
                    <label for="city">Steam</label>
                    <input type="text" id="steam" name="steam" value="<%= user.steam %>">
                </div>
                <div class="form-group">
                    <label for="riotgames">Riot Games</label>
                    <input type="text" id="riotgames" name="riotgames" value="<%= user.riotgames %>">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="origin">Origin</label>
                    <input type="text" id="origin" name="origin" value="<%= user.origin %>">
                </div>
                <div class="form-group">
                    <label for="discord">Discord</label>
                    <input type="text" id="discord" name="discord" value="<%= user.discord %>">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                </div>
                <div class="form-group">
                    <button type="submit" class="default save-linked-accs">Save</button>
                </div>
            </div>
        </form>
    </div>
    <div class="shadow-box whatever-shadow-box">
        <p class="purple-title form  pw-text">Others</p>
        <div class="button-container2">
            <button class="default green reset-pw-btn" id="resetPassword">Reset Password</button>
            <button class="default green reset-pw-btn" id="manageNotifications">Manage Notifications</button>
            <button class="default reset-pw-btn shop" id="shopAccountButton"></button>
            <button class="default green reset-pw-btn" id="getCouponCode">Get my Coupon Code</button>
        </div>
    </div>
</div>

<div id="popup-containerResetPassword" class="popup-container"></div>
<div id="popup-containerLinkShopAccount" class="popup-container"></div>
<div id="popup-containerUnlinkShopAccount" class="popup-container"></div>
<div id="popup-containerManageNotifications" class="popup-container"></div>

<script>
    $(document).ready(function () {
        updateShopButton(<%= user.wpuserid %>)
        setupSettingsPage();
        setupPWResetPopup();
        setupLinkShopAccountPopup();
        setupUnlinkShopAccountPopup();
        setupNotificationPopup(<%= user.trainingdatareminder %>);
        loadUserPicture();

        //Updates the profile picture
        const input = document.getElementById("fileInput");
        input.addEventListener("change", (e) => {
            if (e.target.files.length > 0) {
                updateProfilePicture(e, <%= user.id %>).then((result) => {
                    displaySuccess(result.message);
                    $('.player-img').attr("src", result.picture);
                }).catch((error) => {
                    displayError(error);
                });
            }
        });

        $("#getCouponCode").click(function() {
            $.ajax({
                url: "/wooCommerce/getCouponCode",
                type: "GET",
                success: function (result) {
                    console.log(result);
                    displaySuccess(result.message);
                },
                error: function (data) {
                    if (data.responseJSON && data.responseJSON.redirect) {
                        window.location.href = data.responseJSON.redirect;
                    }
                    displayError(data.responseJSON.message);
                }
            });
        });

    });
</script>