<script src="/js/clientJS/utility/imgUploadToDB.js"></script>
<script src="/js/clientJS/settings.js"></script>

<div class="bg-grey-level1 max-w-[1330px] xl:pr-4 lg:pr-0 pr-4 px-4 md:px-8 py-6">
    <div class="flex justify-between">
        <h3 class="text-2xl md:mb-0 mb-5 font-bold font-orbitron text-white">Settings</h3>
        <div class="text-right lg:mr-2.5 md:mb-0 mb-5">
            <%- include('../components/buttondefault', {type: 'button', id: 'updateBtn', text: 'Update', icon: 'ri-save-line'}) %>
        </div>
    </div>
    <div class="flex lg:flex-nowrap flex-wrap lg:max-w-full max-w-[590px] lg:-mx-2.5 items-start justify-between mt-[14px]">
        <div class="w-full lg:order-1 order-2 lg:max-w-[719px] sm:mt-0 mt-5 max-w-full lg:mx-2.5 lg:mr-5">
            <div class="bg-grey-level2 sm:p-6 px-4 py-6 font-montserrat">
                <h4 class="text-lg text-white font-bold">Personal Information</h4>
                <form>
                    <div class="flex md:items-center justify-between mt-4 flex-col md:flex-row w-full">
                        <div class="md:w-1/2 xl:pr-4 md:pr-2">
                            <label class="xl:text-base text-sm font-montserrat font-semibold text-white">Fullname *</label>
                            <%- include('../components/entryfield', {type: 'text', name: 'fullname', id: 'fullname', width: 'w-[100%]', value: user.fullname }) %>
                        </div>
                        <div class="md:w-1/2 xl:pl-4 md:pl-2 mt-2 md:mt-0">
                            <label class="xl:text-base text-sm font-montserrat font-semibold text-white">E-Mail *</label>
                            <%- include('../components/entryfield', {type: 'email', name: 'email', id: 'email', width: 'w-full', value: user.email}) %>
                        </div>
                    </div>
                    <div class="flex md:items-center justify-between mt-4 flex-col md:flex-row w-full">
                        <div class="md:w-1/2 xl:pr-4 md:pr-2">
                            <label class="xl:text-base text-sm font-montserrat font-semibold text-white">Phone Number</label>
                            <%- include('../components/entryfield', {type: 'text', name: 'phone', id: 'phone', width: 'w-full', value: user.phone}) %>
                        </div>
                        <div class="md:w-1/2 xl:pl-4 md:pl-2 mt-2 md:mt-0">
                            <label class="xl:text-base text-sm font-montserrat font-semibold text-white">Username *</label>
                            <%- include('../components/entryfield', {type: 'text', name: 'username', id: 'username', width: 'w-full', value: user.username}) %>
                        </div>
                    </div>
                    <div class="flex md:items-center justify-between mt-4 flex-col md:flex-row w-full">
                        <div class="md:w-1/2 xl:pr-4 md:pr-2">
                            <label class="xl:text-base text-sm font-montserrat font-semibold text-white">Street</label>
                            <%- include('../components/entryfield', {type: 'text', name: 'street', id: 'street', width: 'w-full', value: user.street}) %>
                        </div>
                        <div class="md:w-1/2 xl:pl-4 md:pl-2 mt-2 md:mt-0">
                            <label class="xl:text-base text-sm font-montserrat font-semibold text-white">City</label>
                            <%- include('../components/entryfield', {type: 'text', name: 'city', id: 'city', width: 'w-full', value: user.city}) %>
                        </div>
                    </div>
                    <div class="md:w-1/2 xl:pr-4 md:pr-2 mt-2 md:mt-0">
                        <label class="xl:text-base text-sm font-montserrat font-semibold text-white">Zip Code</label>
                        <%- include('../components/entryfield', {type: 'number', name: 'zip', id: 'zipcode', width: 'w-full', value: user.zip}) %>
                    </div>
                </form>
            </div>
            <div class="bg-grey-level2 sm:p-6 px-4 py-6 my-5">
                <h4 class="text-lg text-white font-bold">Notifications</h4>
                <div class="flex justify-between items-center pt-4">
                    <p class="xl:text-base text-sm text-white font-semibold font-montserrat">
                        Trainingdata Reminder
                    </p>
                    <%- include('../components/toggle', {id: 'dcNotiYes', value: user.trainingdatareminder}) %>
                </div>
            </div>
            <div class="bg-grey-level2 sm:p-6 px-4 py-6 font-montserrat">
                <h4 class="text-lg text-white font-bold">Linked Accounts</h4>
                <form>
                    <div class="flex items-center justify-between mt-4">
                        <div class="w-1/2 xl:pr-4 pr-2">
                            <label class="xl:text-base text-sm font-montserrat font-semibold text-white">Steam</label>
                            <%- include('../components/entryfield', {type: 'text', name: 'steam', id: 'steam', width: 'w-full', value: user.steam}) %>
                        </div>
                        <div class="w-1/2 xl:pl-4 pl-2">
                            <label class="xl:text-base text-sm font-montserrat font-semibold text-white">Origin</label>
                            <%- include('../components/entryfield', {type: 'text', name: 'origin', id: 'origin', width: 'w-full', value: user.origin}) %>
                        </div>
                    </div>
                    <div class="flex items-center justify-between mt-4">
                        <div class="w-1/2 xl:pr-4 pr-2">
                            <label class="xl:text-base text-sm font-montserrat font-semibold text-white">Discord</label>
                            <%- include('../components/entryfield', {type: 'text', name: 'discord', id: 'discord', width: 'w-full', value: user.discord}) %>
                        </div>
                        <div class="w-1/2 xl:pl-4 pl-2">
                            <label class="xl:text-base text-sm font-montserrat font-semibold text-white">Riot</label>
                            <%- include('../components/entryfield', {type: 'text', name: 'riotgames', id: 'riotgames', width: 'w-full', value: user.riotgames}) %>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="w-full lg:order-2 order-1 xl:max-w-[537px] lg:max-w-[405px] max-w-full sm:mb-5">
            <div class="bg-grey-level2 px-6 pt-12 pb-8 font-montserrat">
                <div class=" flex-col flex items-center justify-center">
                        <a href="#" id="userImageWrapper" class="relative inline-block overflow-hidden">
                            <img id="userImage" src="<%= user.thumbnail %>" class="rounded-full w-[125px] sm:w-[200px] h-[125px] sm:h-[200px] mx-auto transition-opacity duration-300 ease-in-out" alt="">
                            <div id="changeImageOverlay" class="opacity-0 absolute inset-0 bg-black bg-opacity-60 text-white flex justify-center items-center text-xl rounded-full transition-opacity duration-300 ease-in-out">
                                <i class="ri-upload-cloud-2-line ri-2x"></i>
                            </div>
                            <input type="file" id="fileInput" class="hidden" />
                        </a>
                    <h2 class="md:text-2xl text-xl font-orbitron font-bold text-white md:pt-10 pt-5 md:pb-4 pb-2">
                        <%= user.username %>
                    </h2>
                    <p class="text-lg text-white font-bold font-montserrat"><%= user.team.displayname %></p>
                </div>
                <div class="sm:flex items-center justify-between pt-8 lg:pt-[43px] xl:pt-[66px]">
                    <div class="sm:w-40  w-full flex-col flex items-center justify-center bg-grey-level3 xl:py-7 py-5 mr-5">
                        <h4 class="xl:text-lg sm:text-xs text-sm font-montserrat font-bold text-white">GNX-Level</h4>
                        <h3 class="text-turquoise xl:text-4xl sm:text-2xl text-3xl font-bold xl:pt-3 pt-1 font-orbitron">?</h3>
                    </div>
                    <div
                            class="sm:w-40 sm:mt-0 mt-5 w-full flex-col flex items-center justify-center bg-grey-level3 xl:py-7 py-5 mr-5">
                        <h4 class="xl:text-lg sm:text-xs text-sm font-montserrat font-bold text-white">GNX-Points</h4>
                        <h3 class="text-turquoise xl:text-4xl sm:text-2xl text-3xl font-bold xl:pt-3 pt-1 font-orbitron">?</h3>
                    </div>
                    <div
                            class="sm:w-40 sm:mt-0 mt-5 w-full flex-col flex items-center justify-center bg-grey-level3 xl:py-7 py-5 ">
                        <h4 class="xl:text-lg sm:text-xs text-sm font-montserrat font-bold text-white">Total Sessions</h4>
                        <h3 class="text-turquoise xl:text-4xl sm:text-2xl text-3xl font-bold xl:pt-3 pt-1 font-orbitron">?
                        </h3>
                    </div>
                </div>
                <div class="bg-grey-level3 mt-10 pt-5 sm:pb-12 pb-5 xl:px-10 px-5 h-48">
                    <h4 class="text-error font-bold text-lg text-center">DANGER ZONE</h4>
                    <div class="flex flex-col items-center xl:gap-5 gap-2 mt-5">
                        <%- include('../components/buttondefault', {type: 'button', id: 'deleteUser', text: 'Delete User', icon: 'ri-delete-bin-2-line'}) %>
                        <%- include('../components/buttondefault', {type: 'button', id: 'resetPassword', text: 'Reset Password', icon: 'ri-refresh-line'}) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popup-containerResetPassword" class="popup-container"></div>

<script>
    $(document).ready(function () {
        setupSettingsPage();
        loadUserPicture();
        setupPWResetPopup();

        // Hover in and out function for the profile picture
        $('#userImageWrapper').hover(
            function() {
                $('#changeImageOverlay').css('opacity', '1');
            },
            function() {
                $('#changeImageOverlay').css('opacity', '0');
            }
        );

        //Trigger the File upload
        $('#changeImageOverlay').on('click', function() {
            $('#fileInput').click();
        });


        //Updates the profile picture
        $('#fileInput').on('change', function(e) {
            if (e.target.files.length > 0) {
                updateProfilePicture(e, <%= user.id %>).then((result) => {
                    displaySuccess(result.message);
                    $('#userImage').attr("src", result.picture); // Update the src of #userImage
                }).catch((error) => {
                    displayError(error);
                });
            }
        });
    });
</script>