<script src="../../js/clientJS/trainingnotes/trainingnotesEdit.js"></script>
<script src="../../js/clientJS/trainingnotes/trainingnotesGeneral.js"></script>

<div class="m-4 md:m-8">
    <div class="xl:flex xl:flex-row xl:justify-between">
        <h3 class="text-2xl font-bold font-orbitron text-white" id="title">Edit Note XYZ</h3>

        <div class="flex flex-row gap-5 mb-6 mt-4 xl:mt-0 sm:hidden">
            <%- include('../components/buttondefault', {type: 'button', id: 'delNote', text: '', icon: 'ri-delete-bin-2-line', customClasses: 'h-10', btnType: 'Error'}) %>
            <%- include('../components/buttondefault', {type: 'button', id: 'saveNote', text: '', icon: 'ri-save-line', customClasses: 'h-10', btnType: 'Success'}) %>
            <%- include('../components/buttondefault', {type: 'button', id: 'closeNote', text: '', icon: 'ri-close-circle-line', customClasses: 'h-10'}) %>
        </div>
    </div>

    <div id="sectionDisplayContainer">
    </div>
    <div class="flex justify-center w-full">
        <%- include('../components/buttondefault', {type: 'button', id: 'addSection', text: 'Add Section', icon: 'ri-add-circle-line', btnType: 'Success'}) %>
    </div>
</div>

<div id="popupContainerAddSection" class="popup-container"></div>
<div id="popupContainerDelSection" class="popup-container"></div>
<div id="popupContainerDelNote" class="popup-container"></div>
<div id="popupContainerAddAnnotation" class="popup-container"></div>
<div id="popupContainerDiscardChanges" class="popup-container"></div>

<script>
    $(document).ready(function() {
        initPage(<%= user.team.id %>);
    });
</script>