<!-- Button Default component -->
<button type="<%= type %>" id="<%= id %>" class="bg-action-grey hover:bg-grey-level2 font-montserrat text-base text-almost-white pl-6 pr-6 pt-2 pb-2
    rounded-md relative overflow-hidden font-semibold flex items-center justify-center transition-transform duration-300 hover:transform hover:scale-105
    <% if (typeof width !== 'undefined') { %><%= width %><% } %>"
    onmouseover="animateLine(this)" onmouseout="reverseAnimation(this)" style="will-change: transform; backface-visibility: hidden;">
    <%= text %>
    <% if (typeof icon !== 'undefined') { %>
        <i class="<%= icon %> ri-lg ml-2"></i>
    <% } %>
    <div class="absolute bottom-0 left-0 w-full h-0.75 bg-btn-grey"></div>
    <% if (typeof btnType !== 'undefined') { %>
        <% if (btnType === 'Error') { %>
            <div id="<%= id %>-line" class="absolute bottom-0 left-0 w-0 h-0.75 bg-error transition-all ease-out duration-300"></div>
        <% } %>
        <% if (btnType === 'Success') { %>
            <div id="<%= id %>-line" class="absolute bottom-0 left-0 w-0 h-0.75 bg-success transition-all ease-out duration-300"></div>
        <% } %>
    <% } else { %>
        <div id="<%= id %>-line" class="absolute bottom-0 left-0 w-0 h-0.75 bg-turquoise transition-all ease-out duration-300"></div>
    <% } %>
    <% if (typeof inputId !== 'undefined') { %>
        <input type="file" id="<%= inputId %>" accept="image/png, image/jpeg" class="absolute opacity-0" style="z-index: 10; height: 100%; width: 100%; top: 0; left: 0;">
    <% } %>
</button>

<script>
    function animateLine(button) {
        const line = document.getElementById(`${button.id}-line`);
        line.style.width = '100%';
    }

    function reverseAnimation(button) {
        const line = document.getElementById(`${button.id}-line`);
        line.style.width = '0%';
    }
</script>
