<!-- Entry field component -->
<div class="relative <% if (typeof width !== 'undefined') { %><%= width %><% } else {%> w-64 <%}%> line-entry-container">
    <input
            type="<%= type %>"
            name="<%= name %>"
            id="<%= id %>"
            value="<% if (typeof value !== 'undefined') { %><%= value %><% } %>"
            class="font-montserrat text-almost-white text-base bg-action-grey <% if (typeof width !== 'undefined') { %><%= width %><% } else {%> w-64 <%}%> h-9 p-2
            focus:outline-none focus:ring-0 line-entry-input"
    <% if (typeof required !== 'undefined') { %>
            required
            <% } %>
    />
    <div class="absolute bottom-0 left-0 w-full h-0.75 bg-turquoise opacity-50"></div>
    <div class="line-entry-line absolute bottom-0 left-0 w-0 h-0.75 bg-turquoise transition-all ease-out duration-300"></div>
</div>
<script>
    $(document).on('focus', '.line-entry-input', function() {
        const line = $(this).siblings('.line-entry-line');
        line.css('width', '100%');
    });

    $(document).on('blur', '.line-entry-input', function() {
        const line = $(this).siblings('.line-entry-line');
        line.css('width', '0%');
    });
</script>