<!DOCTYPE html>
<html lang="en">
<head>
    <title>Set new password</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <meta name="theme-color" content="#2B2D30">

    <link href="/dist/output.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="icon" type="favicon" href="../res/logo/favico.png">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/js/clientJS/utility/toastMessages.js"></script>
    <script src="/js/clientJS/utility/passwordChecker.js"></script>
</head>
<body style="background-image: url('/res/backgrounds/dark_bg.png'); background-position: center -50px; background-size: cover; min-width: 350px;" class="h-full">
<%- include('./components/header.ejs') %>

<div class="flex flex-col h-screen justify-center items-center">
    <h1 class="font-orbitron text-2xl font-semibold">Set new Password</h1>
    <img class="mt-10 mb-4 w-[150px]" alt="Reload Picture" src="/res/teams/reload.png">
    <form id="formPassword">
        <p class="font-montserrat text-base text-almost-white mb-2">Enter your new password</p>
        <%- include('./components/entryfield', {type: 'password', name: 'password1', id: 'password1'}) %>
        <p class="font-montserrat text-base text-almost-white mb-2 mt-6">Confirm</p>
        <%- include('./components/entryfield', {type: 'password', name: 'password2', id: 'password2'}) %>
        <div class="flex justify-center mt-6 mb-16">
            <%- include('./components/buttondefault', {type: 'submit', id: 'reset', text: 'Reset', icon: 'ri-arrow-right-line'}) %>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        //Update password logic
        $('#formPassword').submit(function(e) {
            e.preventDefault();
            const password1 = $('#password1').val();
            const password2 = $('#password2').val();
            if (password1 !== password2) {
                displayError("Passwords do not match!");
                return;
            }
            if (!isPasswordSecure(password1)) {
                displayError("Password is not secure enough!");
                return;
            }

            const tokenData = {
                token: `<%= token %>`
            }

            $.ajax({
                url: '/user/updatePassword/' + tokenData.token,
                method: 'POST',
                dataType: "json",
                data: {password: password1},
                success: function() {
                    window.location.href = '/?message=Password updated successfully!&type=success';
                },
                error: function(data) {
                    if (data.responseJSON && data.responseJSON.redirect) {
                        window.location.href = data.responseJSON.redirect;
                    }
                    displayError(data.responseJSON.message);
                }
            });
        });
    });
</script>

</body>
</html>