<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <meta name="theme-color" content="#2B2D30">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="/js/clientJS/utility/toastMessages.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <link rel="icon" type="favicon" href="../res/logo/favico.png">
    <link href="/dist/output.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body style="background-image: url('/res/backgrounds/dark_bg.png'); background-position: center -50px; background-size: cover; min-width: 350px;" class="h-full">
<%- include('./components/header.ejs') %>

<div class="flex items-center flex-col h-screen justify-center">
    <img class="mb-10" alt="GNX Icon" src="/res/logo/gnx.png">
    <div>
        <% if (messages.error) { %>
            <p class="font-montserrat font-bold text-error text-lg mb-4"><%= messages.error %></p>
        <% } %>
    </div>

    <form action="/login" method="POST">
        <div class="flex flex-col mb-4">
            <label for="username" class="text-almost-white font-montserrat text-base">Username</label>
            <%- include('./components/entryfield', {type: 'text', name: 'username', id: 'username'}) %>
        </div>
        <div class="flex flex-col">
            <label for="password" class="text-almost-white font-montserrat text-base">Password</label>
            <%- include('./components/entryfield', {type: 'password', name: 'password', id: 'password'}) %>
        </div>

        <div class="flex justify-center mt-6 mb-16">
            <%- include('./components/buttondefault', {type: 'submit', id: '', text: 'Login', icon: 'ri-arrow-right-line'}) %>
        </div>
    </form>

    <div class="flex flex-col sm:flex-row items-center w-full mx-auto text-center sm:text-left">
        <div class="w-full sm:flex-1 text-center font-montserrat text-base text-almost-white whitespace-nowrap sm:whitespace-normal mb-4 sm:mb-0 sm:mr-6 sm:text-right">No Account yet? <a class="text-turquoise font-semibold" href="/register">Register here!</a></div>
        <div class="hidden sm:flex flex-none bg-almost-white w-px h-12"></div>
        <div class="w-full sm:flex-1 text-center sm:text-left font-montserrat text-base text-almost-white whitespace-nowrap sm:whitespace-normal sm:ml-6">Forgot your password? <a class="text-turquoise font-semibold" href="/resetPassword">Reset here!</a></div>
    </div>

</div>
</body>
<script>
    //Display Toast Message if needed
    const searchParams = new URLSearchParams(window.location.search);
    const message = searchParams.get('message')
    const type = searchParams.get('type')

    if (type && type === "error") {
        displayError(message);
    } else if (message !== null) {
        displaySuccess(message);
    }
</script>
</html>
