<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <meta name="theme-color" content="#2B2D30">

    <link href="/dist/output.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" type="favicon" href="../../res/logo/favico.png">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body style="background-image: url('/res/backgrounds/dark_bg.png'); background-position: center -50px; background-size: cover; min-width: 350px;" class="h-full">
<%- include('../components/header.ejs') %>

<div class="flex flex-col h-full justify-center items-center">
    <h1 class="font-orbitron text-2xl font-semibold mt-16">Address</h1>
    <img class="mt-10 mb-4 w-[150px]" alt="Address Picture" src="/res/teams/address.png">

    <form action="/register/step-2" method="POST" class="space-y-6 mt-6">
        <div class="flex flex-wrap">
            <div class="">
                <label for="street" class="font-montserrat text-base text-almost-white">Street</label>
                <%- include('../components/entryfield', {type: 'text', name: 'street', id: 'street'}) %>
            </div>
            <div class="ml-6">
                <label for="city" class="font-montserrat text-base text-almost-white">City</label>
                <%- include('../components/entryfield', {type: 'text', name: 'city', id: 'city'}) %>
            </div>
        </div>
        <div class="flex flex-wrap">
            <div class="">
                <label for="zip" class="font-montserrat text-base text-almost-white">ZIP Code</label>
                <%- include('../components/entryfield', {type: 'number', name: 'zip', id: 'zip'}) %>
            </div>
        </div>
        <div class="flex flex-row gap-4 justify-between">
            <%- include('../components/buttondefault', {type: 'button', id: 'skip', text: 'Skip', icon: 'ri-arrow-right-line', width: 'w-28'}) %>
            <%- include('../components/buttondefault', {type: 'submit', id: 'next', text: 'Next', icon: 'ri-arrow-right-line', width: 'w-28'}) %>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {

        // AJAX REQUEST FOR SKIPPING
        $("#skip").click(function () {
            $.ajax({
                url: '/register/step-2',
                type: 'POST',
                success: function() {
                    window.location.href = "/register/step-3";
                }
            });
        });
    });
</script>
</body>

</html>