<!DOCTYPE html>
<html lang="en">
<head>
    <title>Link Game Accounts</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <meta name="theme-color" content="#2B2D30">

    <link href="/dist/output.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" type="favicon" href="../../res/logo/favico.png">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body style="background-image: url('/res/backgrounds/dark_bg.png'); background-position: center -50px; background-size: cover; min-width: 350px;" class="h-full">
<%- include('../components/header.ejs') %>

<div class="flex flex-col h-full justify-center items-center">
    <h1 class="font-orbitron text-2xl font-semibold mt-16">Game Accounts</h1>
    <p class="font-montserrat text-almost-white text-base mt-4">Link your game accounts to see your individual game stats!</p>

    <form action="/register/step-3" method="POST" class="space-y-6 mt-10">
        <div class="flex flex-wrap">
            <div class="">
                <img src="/res/teams/steam.png" alt="Steam" class="mx-auto w-32 mb-4"/>
                <label for="steam" class="font-montserrat text-base text-almost-white">Steam</label>
                <%- include('../components/entryfield', {type: 'text', name: 'steam', id: 'steam'}) %>
            </div>
            <div class="ml-6">
                <img src="/res/teams/origin.png" class="mx-auto w-32 mb-4" alt="Origin"/>
                <label for="origin" class="font-montserrat text-base text-almost-white">Origin</label>
                <%- include('../components/entryfield', {type: 'text', name: 'origin', id: 'origin'}) %>
            </div>
        </div>
        <div class="flex flex-wrap">
            <div class="">
                <img src="/res/teams/riotgames.png" class="mx-auto w-32 mb-4" alt="Riot Games"/>
                <label for="riotgames" class="font-montserrat text-base text-almost-white">Riot Games</label>
                <%- include('../components/entryfield', {type: 'text', name: 'riotgames', id: 'riotgames'}) %>
            </div>
            <div class="ml-6">
                <img src="/res/teams/battlenet.png" class="mx-auto w-32 mb-4" alt="Battlenet"/>
                <label for="battlenet" class="font-montserrat text-base text-almost-white">Battlenet</label>
                <%- include('../components/entryfield', {type: 'text', name: 'battlenet', id: 'battlenet'}) %>
            </div>
        </div>
        <div class="flex flex-row gap-4 justify-between">
            <%- include('../components/buttondefault', {type: 'button', id: 'skip', text: 'Skip', icon: 'ri-arrow-right-line', width: 'w-28'}) %>
            <%- include('../components/buttondefault', {type: 'submit', id: 'finish', text: 'Finish', icon: 'ri-arrow-right-line', width: 'w-28'}) %>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("#skip").click(function () {
            $.ajax({
                url: '/register/step-3',
                type: 'POST',
                success: function() {
                    window.location.href = "/register/step-4";
                }
            });
        });
    });
</script>
</body>

</html>