<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <meta name="theme-color" content="#2B2D30">

    <link href="/dist/output.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" type="favicon" href="../../res/logo/favico.png">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="js/clientJS/imgUploadToDB.js"></script>
    <script src="js/clientJS/toastMessages.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<body style="background-image: url('/res/backgrounds/dark_bg.png'); background-position: center -50px; background-size: cover; min-width: 350px;" class="h-full">
<%- include('../components/header.ejs') %>

<div class="flex flex-col h-full justify-center items-center">
    <h1 class="font-orbitron text-2xl font-semibold mt-16">Hi, <%= username %></h1>
    <p class="font-montserrat text-almost-white text-base mt-4">You are just a few steps away from completing your profile registration!</p>

    <img class="w-48 rounded-full mt-10 mb-6" src="/res/others/blank_profile_picture.png" id="profilePicture" alt="Profile Picture"/>
    <%- include('../components/buttondefault', {type: 'button', id: 'upload', text: 'Upload', icon: 'ri-upload-line', inputId: 'fileInput'}) %>

    <p class="font-montserrat text-almost-white text-base mt-10 mb-6 font-semibold">Please enter your full name</p>
    <form action="/register/step-1" method="POST" id="the-form" class="space-y-6">
        <div class="flex flex-wrap">
            <div class="">
                <label for="firstname" class="text-base font-semibold text-almost-white">First Name *</label>
                <%- include('../components/entryfield', {type: 'text', name: 'firstname', id: 'firstname', required: 'yes'}) %>
            </div>
            <div class="ml-6">
                <label for="lastname" class="text-base font-semibold text-almost-white">Last Name *</label>
                <%- include('../components/entryfield', {type: 'text', name: 'lastname', id: 'lastname', required: 'yes'}) %>
            </div>
        </div>
        <div class="flex justify-center">
            <%- include('../components/buttondefault', {type: 'submit', id: 'next', text: 'Next', icon: 'ri-arrow-right-line'}) %>
        </div>
    </form>
</div>

<script>
    // HANDLE PROFILE PICTURE UPLOAD
    const input = document.getElementById("fileInput");
    input.addEventListener("change", async (e) => {
        registerProfilePicture(e).then(r => {

            // Display the chosen image in the img tag
            const file = e.target.files[0];
            const reader = new FileReader();
            reader.onload = function (event) {
                const img = document.getElementById("profilePicture");
                img.src = event.target.result;
            };

            reader.readAsDataURL(file);
        }).catch(err => {
            displayError(err)
        });
    });
</script>
</body>
</html>