<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark light">
    <meta name="theme-color" content="#2B2D30">

    <link href="/dist/output.css" rel="stylesheet">
    <link rel="icon" type="favicon" href="../../res/logo/favico.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body style="background-image: url('/res/backgrounds/dark_bg.png'); background-position: center -50px; background-size: cover; min-width: 350px;" class="h-full">
<%- include('../components/header.ejs') %>

<div class="flex flex-col h-screen justify-center items-center">
    <h1 class="font-orbitron text-2xl font-semibold">Register</h1>
    <img class="mt-10 mb-4 w-[150px]" alt="Reload Picture" src="/res/teams/register.png">

    <div>
        <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
            <p class="font-semibold text-base font-montserrat text-error"><%= error.message %></p>
        <% }) %>
        <% } %>
    </div>

    <form action="/register" method="POST" class="space-y-6 mt-10">
        <div class="flex flex-col">
            <label for="registrationCode" class="font-montserrat text-base text-almost-white">Registration Code *</label>
            <%- include('../components/entryfield', {type: 'text', name: 'registrationCode', id: 'registrationCode', required: 'yes'}) %>
        </div>
        <div class="flex flex-wrap">
            <div class="">
                <label for="username" class="font-montserrat text-base text-almost-white">Username *</label>
                <%- include('../components/entryfield', {type: 'text', name: 'username', id: 'username', required: 'yes'}) %>
            </div>
            <div class="ml-6">
                <label for="email" class="font-montserrat text-base text-almost-white">E-Mail *</label>
                <%- include('../components/entryfield', {type: 'email', name: 'email', id: 'email', required: 'yes'}) %>
            </div>
        </div>
        <div class="flex flex-wrap">
            <div class="">
                <label for="password" class="font-montserrat text-base text-almost-white">Password *</label>
                <%- include('../components/entryfield', {type: 'password', name: 'password', id: 'password', required: 'yes'}) %>
            </div>
            <div class="ml-6">
                <label for="password2" class="font-montserrat text-base text-almost-white">Confirm Password *</label>
                <%- include('../components/entryfield', {type: 'password', name: 'password2', id: 'password2', required: 'yes'}) %>
            </div>
        </div>
        <div class="flex justify-between mt-6">
            <%- include('../components/buttondefault', {type: 'button', id: 'back', text: 'Back', width: 'w-40'}) %>
            <%- include('../components/buttondefault', {type: 'submit', id: 'register', text: 'Register', icon: 'ri-arrow-right-line', btnType: 'Success',  width: 'w-40'}) %>
        </div>
    </form>

    <div class="font-montserrat text-base text-almost-white mt-10">If you don't have a valid registration code please contact Staff</div>
</div>

<script>
    $(document).ready(function () {
        $("#back").click(function () {
            window.location.href = "/";
        });
    });
</script>
</body>
</html>